@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Nunito+Sans&display=swap');
$primary-color: hsl(10, 79%, 65%);
$primary-color-alt: hsl(186, 34%, 60%);
$secondary-color: hsl(25, 47%, 15%);
$secondary-color-light: hsl(28, 10%, 53%);
$secondary-color-lighter: hsl(27, 66%, 92%);
$secondary-color-lightest: hsl(33, 100%, 98%);

$font-family: 'DM Sans', sans-serif;
$font-bold: 700;
$font-light: 400;

$mobile: 375px;
$Desktop: 1440px;

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $font-family;
    font-size: 18px;
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: $secondary-color-lighter;
}


.contianer{
    width: 100%;
    max-width: $mobile;
    display: grid;
    //background-color: red;

    > div{
        //background-color: $secondary-color-lightest;
        margin: 10px;
        padding: 1.7rem;
        border-radius: 1rem;
    }

    p{
        margin-bottom: 5px;
    }

}

.header{
    background-color: $primary-color;
    color: $secondary-color-lightest;

    p.dim{
       color: $secondary-color-lighter;
    }
    // .logo-container{
    //     width: 50px;
    //     height: 50px;
    //     border-radius: 50%;
    //     background-color: $secondary-color;
    //     position: relative;

    //     &::after{
    //         content: '';
    //         position: absolute;
    //         width: 100%;
    //         height: 100%;
    //         border-radius: 50%;
    //         border: 2px solid $secondary-color-lightest;
    //         left: -20px;
    //     }
    // }
}

.content{
    background-color: $secondary-color-lightest;
    .body{
        height: 150px;
        border-bottom: 1px solid $secondary-color-lighter;
        margin-bottom: 2rem;
        display: grid;
    }
    
}

.graph{
    bottom: 0;
    width: 100%;
    height: 130px;
    display: flex;
    gap: 10px;
    padding: 10px;
    transform: rotate(180deg) rotateY(-180deg);
    //background-color: red;

    .bar{
        position: relative;
        background-color: $primary-color;
        height: 0;
        width: (90% / 7);
        border-radius: .3rem;
        position: relative;
        cursor: pointer;
        transition: height .2s ease-in;

        &.today{
            background-color: $primary-color-alt;
        }

        &:hover .data-point{
            opacity: 1;
        }

        .data-point{
            position: absolute;
            width: 50px;
            background-color: $secondary-color;
            height: 35px;
            top: 110%;
            right: 50%;
            border-radius: 5px;
            display: grid;
            place-items: center;
            transition: all .1s ease-in;
            opacity: 0;
            transform: rotateX(180deg) translateX(50%);

            p{
                font-size: .7rem;
                color: $secondary-color-lighter;
            }
        }

    }
}

.days{
    display: flex;
    justify-content: space-evenly;
}


.bold{
    font-weight: $font-bold;
}

.dim{
    color: $secondary-color-light;
    @extend .mini;
}
.mini{
    font-size: .7rem;
}
.div-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#total{
    font-size: 1.5rem;
}